<app-select-filter></app-select-filter>
<app-toggling-state></app-toggling-state>
<h1>
  RxJS Subjects
</h1>

<br />
<button #button> Click Me </button> <p>Click me, and than fast again to show that my event will 
  not be registered if inner observable is not finished (exhaustMap)</p>
<div>
  Data se manifestira nakon sta je inner obs zavrsio sa SVAKIM od svojih timeoutova, a
  u subscribe se ulazi onoliko puta koliko je inner Observable nextao. Gledat u konzoli zbog timelinea 
</div>
<h4>Just showing receiving data and experimenting with different kinds of observables, subjects, and rxjs operators</h4>
<button class="btn btn-primary btn-sm"  disabled>Subscribe to inputChange</button>
<button class="btn btn-primary btn-sm" (click)="resetToInitialState()" >Reset State</button>

<div class="container">
  <form>
    <div>
      <label for="oib">Simple observable:</label>
      <input #searchValue type="text" name="oib" [(ngModel)]="oibone" (input)="oibChanged(searchValue.value)" />
    </div>
    <div>
      Printam from subscribing to simple subject: {{ this.subjectsService.simpleObservable$ | async }}
    </div>
    <br /><br />
    <h2 *ngIf="!operatorChosen">Biraj RxJS operator i gledaj magiju u konzoli</h2>
    <div class="btn-toolbar text-center well">
      <button type="button" class="btn btn-primary col-xs-2" (click)='switchOperator("ex")'>ExhaustMap</button>
      <button type="button" class="btn btn-primary col-xs-2" (click)='switchOperator("co")'>Concat Map</button>
      <button type="button" class="btn btn-primary col-xs-2" (click)='switchOperator("me")'>Merge Map</button>
      <button type="button" class="btn btn-primary col-xs-2" (click)='switchOperator("sw")'>Switch Map</button>
    </div>
    <div *ngIf="operatorChosen">
      <h4>Odabran {{this.rxjsOpString}}</h4>
    </div>
    <div>
      <label for="tip"><b>{{this.rxjsOpString}}</b> INPUT CHANGE: </label>
      <input #inputTipProizvoda type="text" name="tip" [(ngModel)]="tipProizvoda" [disabled]="!operatorChosen" />
    </div>
  </form>
</div>
<br /><br />


<br />
<hr />
<h2 *ngIf="!observableChosen">Biraj RxJS observable, i klikči subscribe i gledaj magiju vremena u ispisu subscriptiona</h2>
<div class="btn-toolbar text-center well">
  <button type="button" class="btn btn-primary col-xs-2" (click)='switchObs(0)'>Subject</button>
  <button type="button" class="btn btn-primary col-xs-2" (click)='switchObs(1)'>Behavioral</button>
  <button type="button" class="btn btn-primary col-xs-2" (click)='switchObs(2)'>Replay</button>
  <button type="button" class="btn btn-primary col-xs-2" (click)='switchObs(3)'>Async</button>
  <button type="button" class="btn btn-primary col-xs-2" (click)="resetToInitialState()" >Reset State</button>
</div>
<div>
  <h5>Subject - subscribe na jednog, zatim na drugog, neces dobit prethodno jer je subscribe dosao poslije emita</h5>
  <h5>Behaviour - subscribe na jednog, zatim na drugog, DOBIT ces prethodnog jer tako funkcionira</h5>
  <h5>Replay - dobit ces prethodna 2 jer je tako hardkodirano</h5>
</div>
<div *ngIf="observableChosen">
  <h4>Odabran {{this.rxjsObservableString}}</h4>
</div>


<ng-template #listSubscriptionData let-lista="list" let-index="index" let-funkcija="nameFunction">
    <h1>Subscription {{index}}</h1>
  
    <button class="btn btn-primary" 
      [disabled]="!observableChosen" 
      (click)="funkcija()" >
      Subscribe to Observable {{index}}</button>
    <br /><br />
    <ul>
      <li *ngFor="let dataItem of lista">{{ dataItem }}</li>
  </ul>
</ng-template> 
<ng-container [ngTemplateOutlet]="listSubscriptionData" [ngTemplateOutletContext]='{ index: "0", list: this.subscription0Data, nameFunction: subscribe0.bind(this) }'></ng-container>
<ng-container [ngTemplateOutlet]="listSubscriptionData" [ngTemplateOutletContext]='{ index: "1", list: this.subscription1Data, nameFunction: subscribe1.bind(this) }'></ng-container>
<ng-container [ngTemplateOutlet]="listSubscriptionData" [ngTemplateOutletContext]='{ index: "2", list: this.subscription2Data, nameFunction: subscribe2.bind(this) }'></ng-container>
<ng-container [ngTemplateOutlet]="listSubscriptionData" [ngTemplateOutletContext]='{ index: "3", list: this.subscription3Data, nameFunction: subscribe3.bind(this) }'></ng-container>