
<div>
    All about Streams of data in RxJs
</div>
<div class="container">
    selectedUserId
    <select [formControl]="selectUserId">
        <option>Select a User</option>
        <option *ngFor="let user of users" [value]="user.id"> {{ user.name }} </option>
    </select>
    blacklisted list
    <select [formControl]="blackListedUsers" multiple>
        <option *ngFor="let user of users" [value]="user.id"> {{ user.name }} </option>
    </select>
    Allow black listed users 
        <input type="checkbox" [formControl]="blackAllowed" />

    <button [disabled]="isDisabled$ | async ">Submit</button>
</div>
<hr />
  
  